// colors

@backgroundColor: #211f2d;
@primary: #fff;
@primaryLight: rgba(255, 255, 255, 0.7);
@secondary: #373352;
@secondaryLight: #373352;
@accent: #00bb40;
@accentHover: #43ce72;
@accentActive: #0e8938;
